.ButtonCustom {
  font-family: Poppins, sans-serif;
  font-size: 12px;
  background-color: #232121;
  color: #ffcdab;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
  padding: 22px 44px;
  text-align: center;
  &:hover {
    background-color: #ffcdab;
    color: #232121;
  }
}
