.SectionWatercolorConfections {
  &__left {
    min-height: 100vh;
    background-image: url("/assets/images/watercolor-confections.jpg");
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
  }
  &__right {
    background-color: #8c868a;
    color: #ffffff;
    display: flex;
    padding: 6%;
    justify-content: center;
    &__content {
      font-family: Poppins, sans-serif;
      margin: auto;
      h1 {
        font-size: 52px;
        font-weight: 500;
        letter-spacing: 2px;
        line-height: 56px;
        text-align: left;
        text-transform: uppercase;
        margin: 0;
      }
      p {
        font-size: 18px;
        line-height: 31.5px;
        margin-bottom: 44px;
      }
    }
    &__separator {
      width: 100px;
      border-top: 5px solid #ffcdab;
      margin: 25px 0;
      border-radius: 2px;
    }
  }
}
