.header {
  display: flex;
  padding: 26px 44px;
  //   background-color: rgb(248, 89, 3);
  &__logo {
    width: 115px;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-left: auto;
    &__item {
      margin-left: 32px;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 2px;
      color: #000;
      text-decoration: none;
      text-align: left;
      text-transform: capitalize;
      &:hover {
        color: #eb4b16;
        border-bottom: 2px solid #eb4b16;
        font-weight: 600;
      }
    }
    .activate {
      color: #eb4b16;
    //   border-bottom: 2px solid #eb4b16;
      font-weight: 600;
    }
  }
}
