.SectionWatercolorConfetti{
    background-image: url("/assets/images/confetti-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    h1{
        margin: 0;
    }
}